@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

input {
  width: 200px;
  padding: 0 15px;
  height: 50px;
  outline: none;
  border: 1px solid #ced0d6;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  border-radius: 0.5rem;
}

button {
  padding: 0 20px;
  height: 50px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color ease-in 100ms;
}

button[data-primary] {
  background-color: #007bff;
}

button[data-primary]:hover {
  background-color: #0069d9;
}

button[data-primary]:disabled {
  background-color: #5aaaff;
  cursor: alias;
}

svg {
  z-index: 1;
}
